@media (max-width:640px) { 
    /*Шапка сайта*/
    .header {
        background-image: url("../img/banner-mobile.jpg");
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .br {
        display: none;
    }
    .header, .container, .container-main, 
    .main, .aside, .container-second, 
    .container-goods, .copyright, .footer, .footer-main {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
    
    /* .container {
        padding: 0;
    } */

    .page-title {
        font-size: 2.5rem;
        color: #ffffff;
        text-transform: uppercase;
        line-height: 1.4;
        font-weight: 700;
        position: relative;
        text-align: center;
        margin: 0 auto;
        display: flex;
        top: 13px;
        left: 0;
        letter-spacing: 0.7px;
        padding: 0 15px;
    }

    .menu {
        display: none;
    }
    .menu__button {
        position: absolute;
        width: 23px;
        height: 20px;
        top: 31px;
        right: 15px;
    }

    .logo {
        width: 269px;
        margin: 0;
        margin-bottom: 21px;
    }


    /*Сейчас в тренде*/
    .title, .trend-card-title, .post-title, .aside-post-title, .goods-title {
        font-size: 1.6rem;
    }
    .trens-section {
        width: 100vw;
    }
    .trends-title {
        margin-top: 40px;
    }
    .title::after {
        margin: 10px auto 25px auto;
    }

    .trends {
        flex-direction: column;
        gap: 0px;
    }

    .trend-cards {
        min-height: 234px;
        width: 100%;
        border-bottom: 3px solid #fff;
        box-sizing: border-box;
        display: flex;
        border-right: none;
    }
    
    .trend-card-content {
        border: 3px solid #b59f5b;
        padding: 18px 30px 28px 21px; 
        box-sizing: border-box;
        /*! display: flex; */
        flex-direction: column;
        line-height: 1.2;
    }

    /*Посты*/
    .container-main {
        padding: 0 16px 0 15px !important;
    }
    .main {
        width: 100%;
        margin-top: 43px !important;
        gap: 0;
    }
    .posts {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid #eee;
        margin: 0 15px 35px 15px;
        padding: 0 0 18px 0;
    }

    .post-img {
        width: 100%;
        height: 253px;
        margin: 0 !important;
    }
    .post-total {
        width: 100%;
        margin: 0;
        padding: 0;
    } 
    
    .post-tags {
        margin: 10px 0 8px 0;
    }
    .post-tags-link {
        font-size: 1.4rem;
    }
    .post-title {
        margin: 0;
    }
    .post-time-author {
        margin: 14px 0;
        /* letter-spacing: -0.5px; */
    }
    .post-time {
        letter-spacing: -0.2px;
    }
    .post-text {
        margin: 0 !important;
        line-height: 1.4;
        letter-spacing: -0.52px;
    }

    /*Aside*/
    .aside-bar, .aside-item, .form-search, 
    .form-subscribe,  
    .field-subs, .cat-list, .goods {
        width: 100% !important;
    }
    .aside-bar {
        padding-top: 9px;
    }
    .aside-item:not(:first-child) {
        margin-top: 4rem;
    }

    .aside-post {
        margin-left: 17px;
    }
    .aside-post-img {
        width: 70px;
        height: 70px;
        background-color: #eff6f1;
    }
    .aside-post-title {
        font-size: 1.4rem !important;
        margin-top: 3px;
        line-height: 1.2;
    }
    .label-search {
        width: 100%;
        padding: 0;
        margin: 1px;
    }
    .field {
        width: 100%;
        padding-left: 16px;
    }

    .aside-forms, .tags, .categories {
        margin-top: 42px !important;
        letter-spacing: 1px;
    }

    .form-subscribe, .btn-subscribe {
        font-size: 1.4rem;
        margin-top: 21px;
    }
    /* .field-subs {
        box-sizing: border-box;
    } */

    .tags-lists {
        row-gap: 11px;
        justify-content: flex-start;
    }
    .tags-list {
        width: 22%;
        margin-right: 5px;
    }
    .tags-list-items {
        padding: 2px 13px 3px 16px;
        margin: 0;
    }
    
    .cat-lists {
        margin-top: -11px;
    }
    
          
    
    /*Наши изделия*/
    .container-second {
        padding: 41px 15px 30px !important;
    }
    .container-goods {
        margin-top: -6px;
        gap: 4px;
    }

    .picture {
        width: 285px;
        height: 285px;
        background-color: #eff6f1;
    }
    .goods {
        align-items: center;
        margin-bottom: 22px;
    }
    .goods-info {
        width: 100%;
        margin-top: -32px;
        margin-right: 0px;
        padding: 47px 21px 27px 16px;
        box-sizing: border-box;
    }
    .goods-title {
        letter-spacing: 0.7px;
    }

    .price {
        padding-top: 23px;
    }
    .btn-shop {
        padding: 11px 6px;
        margin-right: 0;
        box-sizing: border-box;
    }


    /*Footer*/
    .footer {
        background-color: #fff;
        margin-top: -9px;
        padding: 0 15px !important;
        
    }

    .copyright {
        margin: 45px 0;
        letter-spacing: -0.3px;
    }


    /*Popup*/
    .popup-child {
        width: 332px;
        height: 546px; 
        padding: 28px 28px 28px 24px;
        margin: 42px auto 27px;        
    }

    .popup__close {
        top: -32px;
        width: 28px;
        height: 28px;
    }

    .popup-title {
        font-size: 1.5rem !important;
    }

    .popup-form {
        gap: 30px;
        letter-spacing: -0.5px;
        margin-top: 31px;
    }

    .radio-group {
        margin-right: 31px;
        margin-top: 10px;
    }

    .choice::before {
        width: 25px;
        height: 25px;
        background-size: 25px;
        margin-right: 6px;
    }
}

@media (max-width:640px) and (orientation:landscape) {
    .trends {
        display: flex;
        flex-flow: row wrap;
    }
    .trend-cards {
        width: 50%;
    }
    .trend-cards:nth-child(odd) {
        border-right: 3px solid #fff;
    }

}